<nav class="nav-foot" role="navigation">
    <div class="container">
        <div class="">
            &nbsp;
            <hr/>
            <h5>About ProxyBot</h5>
            <p>ProxyBot is a free web proxy service, powered by ProxyBot Engine. to Access blocked site / Encrypt your connection / Hide your IP and browse anonymously and protect your online privacy. It supports any kind of sites: video hostings, search engines, social networks, e-mail services and much more. You can browse your favorite resources such as Facebook, Google, Gmail, Twitter and also have Youtube unblocked.
            </p>

        </div>
        <div class="navbar-header">
            <div class="copyright">
            &copy; 2020 ProxyBot.org  
            <br/>Powered by <a href="https://proxybot.cc" target="_blank">ProxyBot v2.0</a>
            </div>
        </div>
    </div>
</nav>


    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>