<nav class="nav-foot" role="navigation">
    <div class="container">
        <div class="">
            &nbsp;
            <hr/>
            <h5>About ProxyPy</h5>
            <p>ProxyPy is a free&powerful online web proxy service. It acts as the middle person between you and the Internet.Allows users to surf the Internet anonymously as the online anonymizer hides the IP address of the user. Why it's important to you? Content across the Internet is regionally protected due to license issues and copyright concerns in most cases..
            </p>

        </div>
        <div class="navbar-header">
            <div class="copyright">
            &copy; 2020 ProxyPy.org  
            <br/>Powered by <a href="https://proxypy.org" target="_blank">ProxyPy v4.0</a>
            </div>
        </div>
    </div>
</nav>


    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>