<nav class="navbar navbar-default " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
           <div align="center" style="font-size: 20px;padding:10px 0;">

          </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active" ><a href="/">Home</a></li>
                <li ><a href="/block/">Block ProxyPy</a></li>
                <li ><a href="http://s1.proxypy.org" target="_blank">S1</a></li>
                <li ><a href="http://s2.proxypy.org" target="_blank">S2</a></li>
                <li ><a href="http://s3.proxypy.org" target="_blank">S3</a></li>
                <li ><a href="http://s4.proxypy.org" target="_blank">S4</a></li>
                <li ><a href="http://s5.proxypy.org" target="_blank">S5</a></li>
                 <li ><a href="/sites.htm" target="_blank">Web Proxy List </a></li>

            </ul>
            

        </div>
    </div>
</nav>